<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" 
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>CRUD OPERATION USING MONGO,EXPRESS,NODEJS</h1>
    <hr>
    <a href="/addContact" class="btn">Add Contact <i class="fas fa-user-tie"></i></a><br><br>

    <form action="/" method=POST>
    
        <table class="table">
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>CONTACT</th>
                <th>STATUS</th>
                <th>ACTION</th>
            </tr>
            {{#each results}}
            <tr>
                <td>1</td>
                <td>{{ name}}</td>
                <td>{{ contact}}</td>
                <td>{{ status}}</td>
                <td>
                    <a href="http://localhost:1000/updateContact/{{name}}" class="update"><i class="far fa-edit"></i></a>
                    <a href="http://localhost:1000/deleteContact/{{name}}" class="delete"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr> 
        {{/each}}
    
        </table>
    </form>
    


</body>
</html>